@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 212 50% 98%;
  --foreground: 222 47% 11%;
  --card: 0 0% 100%;
  --card-foreground: 222 47% 11%;
  --popover: 0 0% 100%;
  --popover-foreground: 222 47% 11%;
  --primary: 219 79% 51%;
  --primary-foreground: 210 40% 98%;
  --secondary: 217 32% 92%;
  --secondary-foreground: 222 47% 11%;
  --muted: 214 32% 91%;
  --muted-foreground: 215 16% 44%;
  --accent: 200 80% 93%;
  --accent-foreground: 222 47% 11%;
  --destructive: 0 85% 56%;
  --destructive-foreground: 210 40% 98%;
  --border: 214 31% 86%;
  --input: 214 31% 86%;
  --ring: 219 79% 51%;
  --radius: 0.8rem;
}

.dark {
  --background: 222 47% 7%;
  --foreground: 210 40% 98%;
  --card: 224 39% 11%;
  --card-foreground: 210 40% 98%;
  --popover: 224 39% 11%;
  --popover-foreground: 210 40% 98%;
  --primary: 217 91% 60%;
  --primary-foreground: 222 47% 11%;
  --secondary: 217 33% 17%;
  --secondary-foreground: 210 40% 98%;
  --muted: 217 33% 17%;
  --muted-foreground: 215 20% 65%;
  --accent: 208 44% 24%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 67% 48%;
  --destructive-foreground: 210 40% 98%;
  --border: 217 33% 22%;
  --input: 217 33% 22%;
  --ring: 224 71% 55%;
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground;
}
